body {
    font-family: Arial, sans-serif;
    margin-left: 200px; 
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2c3e50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1abc9c;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

/* Modifier la disposition de la sidebar et du contenu en dessous de 600px */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        padding-top: 100px;  
    }

    .sidebar {
        position: fixed;  /* Utilisation de fixed pour la sidebar */
        top: 0;
        left: 0;
        width: 100%; 
        height: auto; 
        z-index: 1000;  /* Assurer que la sidebar est au-dessus */
        background-color: #2c3e50;
        padding: 20px;
        box-sizing: border-box;
    }

    .content {
        margin-left: 0;
        margin-top: 160px;  
        width: 100%;  
        padding: 20px; /* Pour ajouter un peu d'espace */
    }

    h1 {
        font-size: 1.5em;
        text-align: center;
        color: #2c3e50;
        margin-bottom: 20px;
    }

    input[type="text"], input[type="email"] {
        width: 100%;
    }

    button {
        width: 100%;
    }
}
