/* Réinitialiser les marges et paddings sur tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Appliquer un fond par défaut au body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Pour la mise en page */
.container {
    text-align: center;
    padding: 50px 0;
}

h1 {
    color: #7c2c2c;
}

/* Bouton gris */
.btn-login {
    background-color: #808080; /* Gris */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #666666; /* Gris foncé au survol */
}

/* Header et footer sans marges ni padding */
header, footer {
    width: 100%;
    background-color: black;
    color: white;
    margin: 0;  /* Éliminer les marges */
    padding: 0; /* Éliminer les paddings */
}

footer {
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

header h2 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
